.photo-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 225px);
    margin-top: 92px;
    margin-bottom: 92px;
    gap: 14px;
    padding: 0 48px 0 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}