.intro__lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
}

/*@media screen and (max-width: 320px) {*/
/*  .intro__lists {*/
/*    width: 288px;*/
/*    !*padding-left: 16px;*!*/
/*  }*/
/*}*/

/*@media screen and (max-width: 768px) {*/
/*  .intro__lists {*/
/*    width: 720px;*/
/*    !*padding-left: 24px;*!*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1024px) {*/
/*  .intro__lists {*/
/*    width: 690px;*/
/*    !*padding-left: 48px;*!*/
/*  }*/
/*}*/

/*@media screen and (max-width: 1280px) {*/
/*  .intro__lists {*/
/*    width: 690px;*/
/*    !*padding-left: 148px;*!*/
/*  }*/
/*}*/