.header {
    min-width: 100%;
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*width: calc((100% - 48px)*2);*/
    /*padding: 28px 0 64px;*/
}

