.lead__subtitle {
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    min-width: 288px;
    max-width: 550px;
    min-height: 40px;
    max-height: 72px;
    margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 40px;
    }
}