.lead__container {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lead__container:hover {
    color: rgba(47, 128, 237, 0.7);
    transition: opacity 3s ease-in;
}
